@import url('./__container/khan__container.css');
@import url('./__author/khan__author.css');
@import url('./__title/khan__title.css');
@import url('./__quote/khan__quote.css');
@import url('./__quote-author/khan__quote__author.css');
@import url('./__quote-author-subline/khan__quote-author-subline.css');
@import url('./__book-container/khan__book-container.css');
@import url('./__book-pic/khan__book-pic.css');
@import url('./__buy-link/khan__buy-link.css');

.khan {
  padding: 205px 0 0;
  background-image: linear-gradient(#F2F2F2, #F2F2F2);
  background-repeat: no-repeat;
  background-position: 0 100px;
}
