/* Уважаемый ревьювер, знаю, что в брифе не было
данного элемента, однако https://validator.w3.org
ругается на iframe из youtube, поэтому добавлены стили,
чтобы убрать устаревшие инлайновые правила из кода. */

.video__youtube {
  width: 560px;
  height: 315px;
  border: 0;
}
