@import url('../feinman/__title/feinman__title.css');
@import url('../feinman/__subtitle/feinman__subtitle.css');
@import url('../feinman/__link/feinman__link.css');

.feinman {
  min-height: 790px;
  position: relative;
  background: no-repeat left bottom url('../../images/feinman.png') #F2F2F2;
  background-size: 867px 637px;
}


